<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8"/>
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title></title>
  </head>
  
  <body>
    <section
      id="features"
      class="ud-features"
    >
      <div class="container">
        <h1>
          Product Detail Page
        </h1>
        
          <h4>
            <%= product.id %>
          </h4>
          <p>
            <a href="/products/<%= product.id %>"> <%= product.name %> </a>
          </p>
          <p>
            <%= product.description %>
          </p>
          
          <p>
            ราคา <%= product.price %> บาท
          </p>
        
      </div>
    </section>
  
  
  </body>

</html>